In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import time
import pandas as pd

pd.set_option('display.max_rows', None)

# Getting Player Data from Basketball Reference

In [2]:
BASE_URL = "https://www.basketball-reference.com/players/"
LETTERS = "abcdefghijklmnopqrstuvwxyz"

In [3]:
# CSV File Setup
with open("basketball_players.csv", "w", newline="", encoding="utf-8-sig") as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "From", "To", "Pos", "Ht", "Wt", "Birth Date", "Colleges", "CSV_ID"])
    for letter in LETTERS:
        url = f"{BASE_URL}{letter}/"
        response = requests.get(url)
        if response.status_code != 200:
            print(f"Failed to retrieve {url}")
            continue
            
        response.encoding = 'utf-8'
        soup = BeautifulSoup(response.text, "html.parser")
        table = soup.find("table", {"id": "players"})
        
        if not table:
            print(f"No player table found for {letter}")
            continue
        
        for row in table.find("tbody").find_all("tr", class_=lambda x: x != "thead"):
            cols = row.find_all("td")
            if not cols:
                continue
            
            name = row.find("th").text.strip()
            csv_id = row.find("th")["data-append-csv"]
            from_year = cols[0].text.strip()
            to_year = cols[1].text.strip()
            pos = cols[2].text.strip() if len(cols) > 2 else ""
            height = cols[3].text.strip() if len(cols) > 3 else ""
            weight = cols[4].text.strip() if len(cols) > 4 else ""
            birth_date = cols[5].text.strip() if len(cols) > 5 else ""
            colleges = cols[6].text.strip() if len(cols) > 6 else ""
            
            writer.writerow([name, from_year, to_year, pos, height, weight, birth_date, colleges, csv_id])
        
        print(f"Finished scraping letter: {letter}")
        time.sleep(5)  # Pause to prevent being blocked

Finished scraping letter: a
Finished scraping letter: b
Finished scraping letter: c
Finished scraping letter: d
Finished scraping letter: e
Finished scraping letter: f
Finished scraping letter: g
Finished scraping letter: h
Finished scraping letter: i
Finished scraping letter: j
Finished scraping letter: k
Finished scraping letter: l
Finished scraping letter: m
Finished scraping letter: n
Finished scraping letter: o
Finished scraping letter: p
Finished scraping letter: q
Finished scraping letter: r
Finished scraping letter: s
Finished scraping letter: t
Finished scraping letter: u
Finished scraping letter: v
Finished scraping letter: w
Finished scraping letter: x
Finished scraping letter: y
Finished scraping letter: z

In [4]:
players = pd.read_csv("basketball_players.csv", encoding="utf-8-sig")

players[['fullname', 'hall_of_fame']] = players['Name'].str.split('*', expand = True)

players['hall_of_fame'] = players['hall_of_fame'].str.replace("", "y")

players['hall_of_fame'] = players['hall_of_fame'].fillna('n')

players['hall_of_fame'] = players['hall_of_fame'].str.replace('None', 'n')

players['Wt'] = players['Wt'].fillna(0).astype(int)

players['last_college'] = players['Colleges'].str.split(',').str[-1].str.strip()

players['birth_date'] = pd.to_datetime(players['Birth Date'], format = '%B %d, %Y')

players = players.rename(columns = {'Ht': 'height',
                                    'Wt': 'weight',
                                    'From': 'from_year',
                                    'To': 'to_year',
                                    'Pos': 'position',
                                    'CSV_ID':'player_id',})

players = players[['player_id', 'fullname', 'height', 'weight', 'position', 'from_year', 'to_year', 'birth_date', 'hall_of_fame']]

In [6]:
players.to_csv('player_data_cleaned.csv', encoding = 'utf-8-sig', index = False)

# Reading in Schedule Data and Team data to get schedule data into the database format

## Changes that need made to schedule data

1) Change date to yyyy-mm-dd format

2) Start time needs to be put into military time

4) Arena needs to be replaced with neutral site indicator. I will see if the venue does not match the home team's assigned venue and if it does not, the neutral site indicator will become a yes

5) I may add in nba cup game indicator

6) Change overtime indicator to yes or no instead of OT

In [134]:
schedule = pd.read_csv("schedule.csv", dtype = "str")

teams = pd.read_csv("teams.csv", dtype = "str")

In [ ]:
schedule['date'] = pd.to_datetime(schedule['date'], format = '%m/%d/%Y')

# Preprocess the time column to ensure two digits for the hour
schedule['Start (ET)'] = schedule['Start (ET)'].apply(lambda x: x if len(x.split(':')[0]) == 2 else '0' + x)

schedule['Start (ET)'] = schedule['Start (ET)'].str.replace('p', 'PM').replace('a', 'AM')

schedule['start_time'] = pd.to_datetime(schedule['Start (ET)'], format='%I:%M%p').dt.strftime('%H:%M')

schedule['overtime'] = schedule['overtime'].fillna('0')

schedule['overtime'] = schedule['overtime'].str.replace('OT', '1').str[0]

schedule['Arena'] = schedule['Arena'].str.replace('Madison Square Garden (IV)', 'Madison Square Garden')

merged = schedule.merge(teams, left_on = ['home', 'Arena'], right_on = ['fullname', 'home_venue'], how = 'left', indicator = True)

# Add a new column to df1 that marks 'y' if the pair does not exist in df2
schedule['neutral_site'] = merged['_merge'].apply(lambda x: 'y' if x == 'left_only' else '')

schedule['neutral_site'] = schedule['neutral_site'].str.strip().replace('', 'n')

schedule['game_length'] = schedule['game_length'].str.zfill(5) + ':00'

schedule = schedule[['date', 'visitor', 'home', 'start_time', 'neutral_site', 'overtime', 'home_points', 'away_points', 'game_length']]

In [144]:
schedule.to_csv("schedule_cleaned.csv", index = False)

In [ ]:
teams['bbreference_abbreviation'] = teams['team_id']

teams['bbreference_abbreviation'] = teams['bbreference_abbreviation'].str.replace('CHA', 'CHO').replace('BKN', 'BRK').replace('PHX', 'PHO')

In [200]:
teams.to_csv('teams_cleaned.csv', index = False)

# Getting NBA roster data

In [199]:
team_abbreviations = teams['bbreference_abbreviation'].to_list()

In [ ]:
response.encoding = 'utf-8'

In [191]:
# Function to extract player names, player IDs, and jersey numbers
def get_nba_roster(team_abbr):
    # Construct the URL for the team roster for the 2025 season
    url = f'https://www.basketball-reference.com/teams/{team_abbr}/2025.html'
    
    # Send a GET request to the webpage
    response = requests.get(url)
    
    # If the request was successful
    if response.status_code == 200:

        response.encoding = 'utf-8'
        
        # Parse the HTML content with BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the table with player rosters (the table has a class 'sortable stats_table')
        table = soup.find('table', {'class': 'sortable stats_table'})
        
        # List to store players, their IDs, and jersey numbers
        players = []
        
        # Iterate through each row of the table (excluding the header)
        for row in table.find_all('tr')[1:]:
            # Find the player's jersey number (in the <th> with the 'number' stat)
            number_cell = row.find('th', {'data-stat': 'number'})
            player_number = number_cell.text.strip() if number_cell else 'N/A'
            
            # Find the player name and player ID (in the <a> tag)
            player_cell = row.find('td', {'data-stat': 'player'})
            if player_cell:
                player_link = player_cell.find('a')
                if player_link:
                    #player_name = player_link.text
                    player_id = player_link['href'].split('/')[3].split('.')[0]  # Extract player ID from the href
                    
                    players.append((player_id, team_abbr, player_number))
        
        return players
    else:
        print(f"Failed to retrieve data for {team_abbr} (Status code: {response.status_code})")
        return []

In [205]:
roster_dfs = []
for team in team_abbreviations:
    players = get_nba_roster(team)
    print(f'Received roster info for: {team}')
    if players:
        df = pd.DataFrame(players, columns = ['player_id','bbreference_abbreviation', 'player_number'])
    roster_dfs.append(df)
    time.sleep(5)

Received roster info for: ATL
Received roster info for: BOS
Received roster info for: BRK
Received roster info for: CHO
Received roster info for: CHI
Received roster info for: CLE
Received roster info for: DAL
Received roster info for: DEN
Received roster info for: DET
Received roster info for: GSW
Received roster info for: HOU
Received roster info for: IND
Received roster info for: LAC
Received roster info for: LAL
Received roster info for: MEM
Received roster info for: MIA
Received roster info for: MIL
Received roster info for: MIN
Received roster info for: NOP
Received roster info for: NYK
Received roster info for: OKC
Received roster info for: ORL
Received roster info for: PHI
Received roster info for: PHO
Received roster info for: POR
Received roster info for: SAC
Received roster info for: SAS
Received roster info for: TOR
Received roster info for: UTA
Received roster info for: WAS

In [206]:
test = pd.concat(roster_dfs, ignore_index = True)

In [207]:
test.head(100)

    player_id bbreference_abbreviation player_number
0   youngtr01                      ATL            11
1   daniedy01                      ATL             5
2   okongon01                      ATL            17
3   risacza01                      ATL            10
4   capelca01                      ATL            15
5   mathega01                      ATL            24
6   krejcvi01                      ATL            27
7   johnsja05                      ATL             1
8   wallake01                      ATL             2
9   nancela02                      ATL            22
10  barlodo01                      ATL             0
11  gueyemo02                      ATL            18
12   mannte01                      ATL            14
13  leverca01                      ATL             3
14  niangge01                      ATL            20
15  bufkiko01                      ATL             4
16  plowdda01                      ATL            29
17  toppija01                      ATL
18  pritcpa01                      BOS            11
19  whitede01                      BOS             9
20  tatumja01                      BOS             0
21  kornelu01                      BOS            40
22  hausesa01                      BOS            30
23  brownja02                      BOS             7
24  horfoal01                      BOS            42
25  quetane01                      BOS            88
26  holidjr01                      BOS             4
27  walshjo01                      BOS            27
28  porzikr01                      BOS             8
29  tillmxa01                      BOS            26
30  peterdr01                      BOS            13
31  scheiba01                      BOS            55
32  davisjd01                      BOS            20
33  craigto01                      BOS            12
34  norrimi01                      BOS            44
35  wilsoja03                      BRK            22
36  johnske07                      BRK            45
37  claxtni01                      BRK            33
38  willizi02                      BRK          1, 8
39  johnsca02                      BRK             2
40  martity01                      BRK            13
41  sharpda01                      BRK            20
42  clownno01                      BRK            21
43  watfotr01                      BRK             9
44  beekmre01                      BRK             4
45  thomaca02                      BRK            24
46  russeda01                      BRK             1
47  evbuoto01                      BRK            12
48  whiteda01                      BRK             0
49  lewisma05                      BRK            27
50  meltode01                      BRK
51  etienty01                      BRK
52  greenjo02                      CHO            10
53  diabamo01                      CHO            14
54  curryse01                      CHO            30
55  bridgmi02                      CHO             0
56  salauti01                      CHO            31
57  smithni01                      CHO             8
58   ballla01                      CHO             1
59  willima07                      CHO             5
60  jeffrda01                      CHO             3
61  millebr02                      CHO            24
62  gibsota01                      CHO            67
63  simpskj01                      CHO            25
64  willigr01                      CHO             2
65   manntr01                      CHO            23
66  baughda01                      CHO             7
67  nurkiju01                      CHO            11
68  okogijo01                      CHO            12
69  moorewe01                      CHO             9
70  buzelma01                      CHI            14
71  phillju01                      CHI            15
72  giddejo01                      CHI             3
73  whiteco01                      CHI             0
74  terryda01                      CHI            25
75  vucevni01                      CHI             9
76  smithja04                      CHI             7
77  hortota01                      CHI            22
78  dosunay01                      CHI            11
79  willipa01                      CHI            44
80   balllo01                      CHI             2
81  carteje01                      CHI             5
82  jonestr01                      CHI            30
83  colliza01                      CHI            12
84  huertke01                      CHI            13
85  liddeej01                      CHI            32
86  milleem01                      CHI            20
87  youngja05                      CHI            17
88  allenja01                      CLE            31
89  garlada01                      CLE            10
90  mitchdo01                      CLE            45
91  jeromty01                      CLE             2
92  mobleev01                      CLE             4
93  merrisa01                      CLE             5
94   wadede01                      CLE            32
95  portecr01                      CLE             9
96  tysonja01                      CLE            24
97  okorois01                      CLE            35
98  strusma01                      CLE             1
99  thomptr01                      CLE            13